{%extends 'base.html' %}

{% block content %}
<div class="cardw">
    <div class="col">
        <div class="card">
            <img src="https://media-exp1.licdn.com/dms/image/D5603AQGmRyLuFztZhA/profile-displayphoto-shrink_200_200/0/1661481903050?e=1666828800&v=beta&t=Eppt3C7QXiwpQdgoS5vX12YVK-MqlR4TkPDhoLyswmc"
                alt="Sid">
            <h1 class="info">Siddhart Bhusari</h1>
            <p class="info">GCEK</p>

            <a class="social_icon" href="https://www.instagram.com/_____imsid_____/"><i class="fa-brands fa-instagram"></i></a>
            <a class="social_icon" href="https://www.linkedin.com/in/siddharth-bhusari-8a7360191/"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a class="social_icon" href="https://github.com/search?q=siddhart+bhusari"><i class="fa-brands fa-github"></i></a>
            
        </div>
        <div class="card">
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEgdq_9HF5FMg/profile-displayphoto-shrink_200_200/0/1654839621715?e=1666828800&v=beta&t=mczKg-heLj83ZbqdGoWKGGMOA4M6pmiEkXxdp74BMBA"
                alt="Pranav">
            <h1 class="info">Pranav Mane</h1>
            <p class="info">GCEK</p>

            <a class="social_icon" href="https://www.instagram.com/its____pranav_mane/"><i
                    class="fa-brands fa-instagram"></i></a>
            <a class="social_icon" href="https://www.linkedin.com/in/pranav-mane-a99154217/"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a class="social_icon" href="#"><i class="fa-brands fa-github"></i></a>
           
        </div>
        <div class="card">
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHGVmg2EjqeWg/profile-displayphoto-shrink_200_200/0/1661280224459?e=1666828800&v=beta&t=QSkoqnzn7CUOKaMuJF7gPxJsxcFOVXjFW7fnDXomXbk"
                alt="sanika">
            <h1 class="info">Sanika Patil</h1>
            <p class="info">GCEK</p>

            <a class="social_icon" href="https://www.instagram.com/sanikapatil.20/"><i class="fa-brands fa-instagram"></i></a>
            <a class="social_icon" href="https://www.linkedin.com/in/sanikapatil20/"><i class="fa-brands fa-linkedin"></i></a>
            <a class="social_icon" href="https://github.com/SanikaPatil20"><i class="fa-brands fa-github"></i></a>
          
        </div>
    </div>
    <div class="col-2">
        <div class="card">
            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQF8c4DVXbDGjg/profile-displayphoto-shrink_200_200/0/1643612546324?e=1666828800&v=beta&t=sHn32CHLVoZ17lEnAEHKXPa4zf1eOkO7alO5nwHETJk"
                alt="shraddha">
            <h1 class="info">Shraddha Mane</h1>
            <p class="info">GCEK</p>
            <a class="social_icon" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a class="social_icon" href="https://www.linkedin.com/in/shraddha-mane-10299821b/"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a class="social_icon" href="#"><i class="fa-brands fa-github"></i></a>            
        </div>
        <div class="card">
            <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHypmYAoNYVUw/profile-displayphoto-shrink_200_200/0/1649916204121?e=1666828800&v=beta&t=-Q3Kftsg2BT0O3iFithd07N8kJKBmGVEzGJIQrCcLR4"
                alt="Harshada">
            <h1 class="info">Harshada Kadam</h1>
            <p class="info">GCEK</p>

            <a class="social_icon" href="https://www.instagram.com/harshada_75k/"><i
                    class="fa-brands fa-instagram"></i></a>
            <a class="social_icon" href="https://www.linkedin.com/in/harshada-kadam-24b607237/"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a class="social_icon" href="https://github.com/harshada75"><i class="fa-brands fa-github"></i></a>
            
        </div>
        <div class="card">
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGZexsq1kXXyw/profile-displayphoto-shrink_200_200/0/1645760662308?e=1666828800&v=beta&t=csjH0KqjMLkCbqKwZIOTzhGk1X174IE23N3bFhUamuA"
                alt="Aniket">
            <h1 class="info">Aniket Tiwari</h1>
            <p class="info">GCEK</p>

            <a class="social_icon" href="https://www.instagram.com/oye._.aniket/"><i
                    class="fa-brands fa-instagram"></i></a>
            <a class="social_icon" href="https://www.linkedin.com/in/aniket1603/"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a class="social_icon" href="https://github.com/anikettiwari16"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>




</div>

{% endblock %}


{% block content2 %}

{% endblock %}