<header>
    <div class="navbar">
        <div class="logo">
            <img src=" {{url_for('static',filename='images/logo.png')}} " alt="logo">
        </div>
        <div class="link-list">
            <a href="/" class="link">Home</a>
            <a href="/about" class="link">About</a>
            <a href="/help" class="link">Help</a>
            <a href="/translate" class="link translate-btn">Translate Now</a>
        </div>
    </div>
    <marquee behavior="" direction="left">Divided by region,United by technology</marquee>
    <div class="img-char">
        <img src=" {{url_for('static',filename='images/characters.png')}} " alt="char image">
        <img src=" {{url_for('static',filename='images/characters.png')}} " alt="char image">
    </div>
</header>