{% extends 'base.html' %}
{% block content %}

<div class="home-hero">
    <h1 class="hero-heading"> Go Regional</h1>
    <p class="hero-sub-heading">
        Your  translator  friend
    </p>

    <p class="hero-intro-text">
        We often face problems while talking with the peoples of other religion.
        <br>
        Thus, we sometimes loose connection with those people.
        <br>
        In India, its a common fact.
        <br>
        Their are various religions in india with their respective languages.
        <br>
        Our application Go Regional is one stop for all of them.
        <br>
        We translate different regional languages to English.
        <br>
    </p>
</div>

{% endblock %}