{%extends 'base.html' %}
{%block content %}
<form action="" method="post">
    <div class="form-section">
        <div class="translate">
            <div class="input">
                <select name="inputLang" required>
                    <!-- <option value="">Translate From: </option> -->
                    <option value="mr">Marathi</option>
                    <!-- <option value="hi">Hindi</option>
                    <option value="kn">Kannada</option>
                    <option value="ta">Tamil</option>
                    <option value="te">Telugu</option>
                    <option value="bn">Bengali</option>
                    <option value="gu">Gujrati</option>
                    <option value="en">English</option> -->
                </select>
                <input class="text-box" type="text" name="inputText"
                    placeholder="Enter your Text here to convert.." value="{{context.inputText}}" ></input>
                <input type="submit" value="Translate Now" class="translate-btn-2">
            </div>
            <div class="output">
                <select name="OutLang" required>
                    <!-- <option value="">Translate to: </option> -->
                    <option value="en">English</option>
                    <!-- <option value="hi">Hindi</option> -->
                </select>
                <input class="text-box" name="outputText" value="{{context.text}}" disabled></input>
            </div>
        </div>

    </div>
</form>
{% endblock %}